@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}

input, textarea, select {
    @apply border border-gray-300 rounded-md py-2 px-4 w-full;
    @apply mb-2;
    @apply shadow-md; 
}

input:focus ,textarea:focus ,select:focus{
    @apply border-blue-900;
}

h1{
    @apply text-gray-800 mb-4 text-xl;
}

label{
    @apply text-gray-600 ;
}

.btn-primary{
    @apply bg-primary rounded-md text-white py-1 px-2;
}
 
table.basic{
    @apply w-full bg-white rounded-sm shadow-xl; 
}

table.basic thead tr td,
table.basic thead tr th
{
    @apply text-sm text-gray-600 uppercase border-b border-gray-900 px-4 py-1;
}

table.basic tr td{
     @apply  px-4 py-1;
}
table.basic a{
    @apply  rounded-md  py-1 px-2 items-center inline-flex gap-1 mx-1;
}

.btn-default, .btn-red{ 
    @apply px-4 py-1 rounded-md;
}

.btn-default{
    @apply bg-gray-600 text-white px-4 py-1 rounded-md border border-gray-300 shadow-sm;
}

.btn-red{
    @apply bg-red-200 text-red-600 px-4 py-1 shadow-sm;
}
